<div class="container">
	<a routerLink="/dash/manage/brands">
		<div class="brands animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/marca.png" alt="" />
			<span class="title-card">Marcas</span>
		</div>
	</a>
	<a routerLink="/dash/manage/customers">
		<div class="customers animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/clientes.png" alt="" />
			<span class="title-card">Clientes</span>
		</div>
	</a>
	<a routerLink="/dash/manage/providers">
		<div class="suppliers animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/proveedores.png" alt="" />
			<span class="title-card">Proveedores</span>
		</div>
	</a>

	<a routerLink="/dash/manage/SupportOperators">
		<div class="operators animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/operadores.png" alt="" />
			<span class="title-card">Operadores</span>
		</div>
	</a>
</div>
<!-- <div class="container">
	<a routerLink="/dash/manage/stores">
		<div class="stores animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/tienda.png" alt="" />
			<span class="title-card">Tiendas</span>
		</div>
	</a>
	<a routerLink="/dash/manage/SupportOperators">
		<div class="operators animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/operadores.png" alt="" />
			<span class="title-card">Operadores</span>
		</div>
	</a>
	<a routerLink="/dash/manage/typeparts">
		<div class="typeParts animate__animated animate__fadeInDown">
			<img class="icon-card" src="../../../../assets/img/Icons/tiposPieza.png" alt="" />
			<span class="title-card">Tipos de Partes</span>
		</div>
	</a>
</div>
 -->
