.green{
    color: #2efb04;
    font-size: 24px;
}
.red{
    color: red;
    font-size: 24px;
}
.orange{
    color: #f3a708eb;
    font-size: 24px;
}

#tableBitacora{
    width: 100%;
    //box-shadow: none;
}

.headerBitacora{
    text-align: center !important;
    background-color: #0099cc;
    color: #fdfcfb !important;
    font-size: 16px;
    width: 109px;
}

.titleTables{
    text-align: center !important;
    color: #07293c !important;
    font-size: 24px;
 } 