.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-2 {
  font-size: 105%;
}

.title {
  color: #0099cc !important;
  font-size: 215%;
  text-align: center;
  margin-bottom: 3%;
}

.sub-title {
  font-size: 110%;
  color: black;
}

.center {
  text-align: center;
}
#center {
  text-align: center;
}

.content {
  display: flex;
}

.content-2 {
  margin-top: 3%;
  width: 50%;
}

mat-form-field {
  width: 100%;
}

button {
  font-size: 105%;
}


.dox{
  margin-bottom: 3%;
}

