.center{
    text-align: center;
}
.info{
    color: #0099cc;
    font-size: 19px;
}
.steperIcon{
    margin-left: 48%;
    width: 54px;
}
.center{
    text-align: center;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #4bc088 !important ;
  color: white;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #0099cc !important;
  color: white;
}

.mat-step-header .mat-step-icon {
  color: white;
  background-color: #80808042;
}

.evidence{
  font-weight: 500;
  font-size: 16px;
}
.mgLeft{
  margin-left: 15px;

}
.btn-info{
  background-color: #f0d225;
  color: white;
}

.image{
  margin-left: 48%;
  width: 54px;
}

