.title{
    text-align: center;
    color: #0b95c2;
}

.sub-title{
    text-align: center;
    color: #0b95c2;
}

mat-header-row{
    background-color: #4b6168ab;
    color: white; 
    font-size: 16px;
}

.header-table{
    font-size: 16px;
    text-align: center;
    background-color: #4b6168ab;
    color: white;
}

.patern{
    /*
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    */
    width: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.table{
    width: 100%;
}

table{
    width: 100%;
}

mat-paginator{
    width: 100%;
}
/*
mat-paginator{
    width: 95%;
}*/

.buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

mat-checkbox{
    background: white;
    padding-left: 1px;
    padding-right: 1px
}

.paternf{
    width: 100%;
    display: flex;
    /* text-align: center; */
    /* align-content: center; */
    justify-content: center;
}

.buttons1{
    width: 100%;
    display: flex;
    justify-content: center;
}

tr.mat-row, tr.mat-footer-row {
    height: 33px;
}

tr.mat-header-row {
    height: 40px;
}

.mat-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    margin-top: -15px !important;
}
