.botonCancelar{
    background-color: #0099cc;
    color: white;
    width: 20%;
    margin-top: 10px;
}

.botonEliminar{
    background-color: #f00000;
    color: white;
    width: 20%;
    margin-top: 10px;
}

h1{
    color: #0099cc;
}