<button id="add-client" mat-fab matTooltip="Agregar Cliente" (click)="openDialog()">
	<mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
	<!-- Nombre -->
	<ng-container matColumnDef="Nombre">
		<mat-header-cell *matHeaderCellDef class="header-table">Nombre</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.Name }}
		</mat-cell>
	</ng-container>

	<!-- Familia -->
	<ng-container matColumnDef="Familia">
		<mat-header-cell *matHeaderCellDef class="header-table">Familia</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.Family }}
		</mat-cell>
	</ng-container>

	<!-- Razon social -->
	<ng-container matColumnDef="RazonSocial">
		<mat-header-cell *matHeaderCellDef class="header-table">Razón Social</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.RazonSocial }}
		</mat-cell>
	</ng-container>

	<!-- Domicilio fiscal -->
	<ng-container matColumnDef="DomicilioFiscal">
		<mat-header-cell *matHeaderCellDef class="header-table">
			Domicilio Fiscal
		</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.AdressFiscal }}
		</mat-cell>
	</ng-container>

	<!-- RFC -->
	<ng-container matColumnDef="rfc">
		<mat-header-cell *matHeaderCellDef class="header-table">RFC</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.RFC }}
		</mat-cell>
	</ng-container>

	<!-- Orden de compra -->
	<ng-container matColumnDef="OrdenCompra">
		<mat-header-cell *matHeaderCellDef class="header-table">
			Orden de Compra
		</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.OrdenCompra }}
		</mat-cell>
	</ng-container>

	<!-- Fecha registro -->
	<ng-container matColumnDef="FechaRegistro">
		<mat-header-cell *matHeaderCellDef class="header-table">
			Fecha de Registro
		</mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			{{ element.createdAt | date: 'shortDate' }}
		</mat-cell>
	</ng-container>

	<!-- Acciones -->
	<ng-container matColumnDef="Acciones">
		<mat-header-cell *matHeaderCellDef class="header-table"></mat-header-cell>
		<mat-cell
			*matCellDef="let element"
			class="content-table"
			[ngClass]="{highlight: element === selectedRowIndex}">
			<div class="acciones">
				<button
					mat-icon-button
					[matMenuTriggerFor]="menu"
					aria-label="Example icon-button with a menu">
					<mat-icon>more_vert</mat-icon>
				</button>
			</div>
			<mat-menu #menu="matMenu">
				<button id="button-accions-edit" (click)="editClient(element)">
					<span class="text">Editar</span>
				</button>
				<button id="button-accions-delete" (click)="deleteClient(element)">
					<span class="text">Eliminar</span>
				</button>
			</mat-menu>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row
		*matRowDef="let row; columns: displayedColumns"
		class="example-element-row"></mat-row>
</table>
<mat-paginator
	[pageSizeOptions]="[10, 15, 30]"
	showFirstLastButtons
	aria-label="paginator"></mat-paginator>
