.title{
    color:#3e4981;
    text-align: center;
}
.btn-cancel{
    background:red;
    color: white;
}
.btn-accept{
    background:#00c22a;
    color: white;
}
.ml{
    margin-left: 18px;
}
.mt{
    margin-top: 41px;
}
.titleLoad{
    position: relative;
    margin-top: 25px;
    color: #007eff;
    margin-left: 126px;
    font-size: 24px;
}
.spinerLoad{
    margin-left: 134px;
    margin-top: 52px;
}
input.mat-input-element {
    margin-top: -0.0625em;
    margin-top: 23px;
}