.center{
    text-align: center;
}
.box-content{
    margin-top: 3%;
}

button{
    width: 9%;
    font-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.mat-success {
    background-color: green;
    color: #fff;
}

span{
    color: #0099cc !important;
}
.client{
    color: #ee66b1  !important;
    font-size: 19px;

}
button{
    width: 14% !important;
}
.btn-user{
    background-color: #9100cd;
    color: white;
}
.btn-admin{
    background-color:#ee66b1 ;
    color: white;
}


#boton-fake{
    width: auto !important;
}