.title {
	text-align: center;
	color: #0996c4;
}
form.btn-cancel {
	background: red;
	color: white;
}
form.btn-accept {
	background: #00c22a;
	color: white;
}

form.input {
	color: #325f96;
	font-size: 17px;
	padding-top: 15px;
}
form.textarea {
	color: #325f96;
	font-size: 17px;
	padding-top: 25px;
}
form.mat-label {
	font-size: 24px;
	color: #0c86e6 !important;
}
.black {
	color: #00000082;
}
.disabled {
	color: #8b8a8a8f !important;
}

form.field {
	font-size: 17px;
}
