@import 'styles/vars';
@import 'styles/tables';

.actionButton {
	margin-right: 30px;
	background-color: white;
	color: black;

	.action-icon {
		font-size: $action-btn-size;
	}
}

table.nested-table {
	background-color: white;
	padding-top: $tbl-nested-padding;
	padding-left: $tbl-nested-padding;
	padding-right: $tbl-nested-padding;
}

.nested-separator {
	padding: 0 $tbl-nested-padding $tbl-nested-padding;
}

.alias-btn {
	vertical-align: middle;
	height: $icons-size;
	margin-right: 10px;
}

.progress-bar-text {
	position: absolute;
	color: white;
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.253), 0 -1px 0 rgba(0, 0, 0, 0.253), 0 1px 0 #000,
		-1px 0 0 rgba(0, 0, 0, 0.253);
}

.percentage-container {
	display: flex;
	justify-content: center;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: #0c4464 !important;
}

::ng-deep .mat-progress-bar-buffer {
	background: #e4e8eb !important;
}

::ng-deep .mat-progress-bar {
	border-radius: 5px !important;
}

.mat-paginator {
	width: 100%;
}

.action-button {
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center;

	&.excel-upload-button {
		background-image: url('../../../../assets/icons/ExcelUp.svg');
		background-color: #203b79;
	}

	&.excel-download-button {
		background-image: url('../../../../assets/icons/ExcelDown.svg');
		background-color: #203b79;
	}
}
