.btn-delete {
    background-color: #0C4464 ;
      color: white;
    }
.instructions{
    text-align: center;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}