.title{
  text-align: center;
  color: #19a0cc;
}

.ml{
  margin-left: 18px;
}
.center{
  text-align: center;
}
.background-red{
  background-color: rgb(153, 50, 50);
}

::ng-deep .warning{
  background: 'yellow';
}

.black{
  color: #00000082;;
}
