.blueDark{
    color: #0099CC;
}
.center{
    text-align: center;
}
.orange{
    color: #f47107;
}
.mleft{
    margin-left: 276px;
}
.blue{
    color: #1572cd;
}
.btnAdd{
    margin-left: 156px !important;
    background: #0099ccd4;
    color: white;
    font-size: 14px;
}
.btnDelete{
    margin-left: 140px;
    background: red;
    color: white;
    font-size: 14px;
}
.delItem{
    margin-left: 247px;
    color: #ff0000bf;
}
.btnSave{
    margin-left: 200px;
    background: #0099cc;
    color: white;
    font-size: 14px;
}

