.scanner{
    width: 35rem;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  
  .header{
    width: 35rem;
  }
  
  .result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  