<mat-card class="box">
    <mat-card-title>
        <h1 class="title"><span class="sub-title"><i class="fas fa-hdd"> </i> Parte afectada: </span><b>SSD</b></h1>
    </mat-card-title>
    <mat-card-content>
        <h3><span class="sub-title">Tipo: </span><b>SSD</b></h3>
        <h3><span class="sub-title">Modelo: </span> <b>BC2SSD800G01</b></h3>
        <h3><span class="sub-title">Marca: </span> <b>HP</b></h3>
        <h3><span class="sub-title">No. serial: </span> <b>2102310YHK10G4000014</b></h3>
        <h3><span class="sub-title">No. parte: </span> <b>02310YHK</b></h3>
    </mat-card-content>
    <mat-card-actions class="center">
        <button class="btn-color" mat-flat-button style="background-color: #0099cc; width: auto; color: white;" (click)="closeDialog()">Solicitar Pieza</button>
    </mat-card-actions>
</mat-card>
