<div id="container-login" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center"
    fxLayoutGap="5em">

    <img id="img-logo" src="assets/img/DiscovertLogonotbg.png" alt="logo-DiscoverIT">

    <mat-card class="animate__animated animate__fadeIn" id="form-login-container">
        <mat-card-header>
            <mat-card-title class="tex"> Recuperar <br> <br> Contraseña </mat-card-title>
        </mat-card-header>
        <br />
        <br />
        <form class="example-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-icon mat-list-icon matSuffix>mail_outline</mat-icon>
                    <input type="text" matInput placeholder="Correo" formControlName="email" required />
                    <mat-error> Please provide a valid email address </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-icon mat-list-icon matSuffix> list_alt</mat-icon>
                    <input type="text" matInput placeholder="No. de contrato" formControlName="contract" required />
                    <mat-error> Please provide a valid contract number </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content fxLayoutAlign="center center">
                <button mat-raised-button color="primary" class="btn-md"
                    [disabled]="forgotForm.invalid ">ENVIAR</button>
                <span class="btn-sm"></span>
                <button mat-raised-button color="secondary" class="btn-md" [routerLink]="['/login']">
                    CANCELAR
                </button>
            </mat-card-content>
            <mat-card-content fxLayoutAlign="center center">
                ¿No tienes una cuenta?
                <a routerLink="/login/register" mat-flat-button id="tex">Registrate</a>
            </mat-card-content>
        </form>
    </mat-card>

</div>