.title{
  text-align: center;
  color:#0b95c2;
}

input{
  color:#325f96;
  font-size: 17px;
  margin-top: 10px !important;
}


textarea{
  color:#325f96;
  font-size: 17px;
  margin-top: 10px !important;
}

mat-label{
  font-size: 21px;
  color:#0c86e6 !important;
  margin-bottom: 10px;
}

.black{
  color: #00000082;;
}

.disabled{
  color: #8b8a8a8f !important;
}

mat-select{
  /* margin-top: 13px !important; */
  color:#0c86e6 !important;
  font-size: 17px;
}

.spinerLoad{
  margin-left: 134px;
  margin-top: 52px;
}