@import '../../styles/vars';
@import '../../styles/tables';

div.dialog-header {
	margin-bottom: 20px;

	ul.contract-info {
		font-size: $font-size;
		list-style: none;
		padding-left: 0;
		margin: 0;

		span {
			font-weight: bold;
			color: #808080;
		}
	}

	.filter-button {
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center;

		&.filter-disabled {
			background-image: url('../../../../../../assets/icons/Filtro.svg');
			background-color: #808080;
		}

		&.filter-enabled {
			background-image: url('../../../../../../assets/icons/FiltroQ.svg');
			background-color: #203b79;
		}
	}
}
