$fontSize: 14px;
.patern{
    width: 100%;
}

.child{
    width: 100%;
}

.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-data{
    width: 98%;
}
/*
.header-table{
    justify-content: center;
    color: #fdfcfb !important;
    background-color: #0099cc;
    font-size: 18px;
}
.content-table{
    justify-content: center;
    text-align: center !important;
    border-bottom-width: 0;
    font-size: 18px;
    width: 100%;
}*/

h2{
    color: #0C4464;
    text-align: center;
}

th {
    text-align: center !important;
    background-color: #203B79;
    color: #fdfcfb !important;
    font-size: $fontSize;
  }
  td {
    text-align: center !important;
    font-size: $fontSize;
    padding: 0.75rem !important;
  }