<form class="new-person-form" [formGroup]="formEditRow">
	<div>
		<h1 class="title">
			<strong>
				<mat-icon>edit</mat-icon>
				Editar Alias de Ticket:
				<strong class="black">{{ data.info.ticketID }}</strong>
			</strong>
		</h1>
		<br />
	</div>

	<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
		<mat-form-field fxFlex="40" class="field">
			<mat-label>Alias</mat-label>
			<input matInput placeholder="Alias Contrato" formControlName="Alias" />
		</mat-form-field>
	</mat-card>
</form>
<mat-card fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
	<button mat-flat-button class="btn-accept" (click)="updateAliasRow()">Guardar</button>

	<button mat-flat-button class="btn-cancel" (click)="closeDialog()">Cancelar</button>
</mat-card>
