.blue{
    color: #0099CC;
}
.mgLef{
    margin-left: 18px !important;
}
.btn-danger{
    background-color: #333;
    color: white;
}
.btn-success{
    background-color: #00c22a;
    color: white;
}
.btn-danger{
    background-color: red;
    color: white;
}
