#id{
    display: flex;
    justify-content: center;
}

.bar-title{
    height: 35px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-title2{
    height: 35px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon{
    width: 25px;
    height: auto;
    margin-right: 0.5%;
}

.title{
    font-size: 25px;
    color: white;
    margin-left: 0.5%;
}

.QR-container{
    display: flex;
    justify-content: center;
}

.QR-button{
    background-color: rgb(151, 151, 151);
    width: 50%;
}

.QR-icon{
    width: 20px;
    height: auto;
    margin-right: 0.5%;
}

.text-button{
    font-size: 20px;
    margin-left: 0.5%;
}

.container-buttons{
    display: flex;
    justify-content: center;
}

.save-button, .cancel-button{
    margin-right: 5px;
    margin-left: 5px;
}