<div class="title-bar">
	<span>Editar Marca</span>
</div>
<br />
<form class="addBrand" [formGroup]="formEditBrand">
	<p>
		<mat-form-field appearance="legacy">
			<mat-label>Nombre</mat-label>
			<br />
			<input placeholder="Nombre" formControlName="namebrand" matInput />
		</mat-form-field>
	</p>

	<p>
		<mat-form-field appearance="legacy">
			<mat-label>Domicilio Fiscal</mat-label>
			<br />
			<textarea
				placeholder="Domicilio Fiscal"
				formControlName="description"
				matInput></textarea>
		</mat-form-field>
	</p>
</form>

<button mat-flat-button class="btn-accept save-button" (click)="editBrand()">
	Guardar
</button>
<button mat-flat-button class="btn-cancel cancel-button" (click)="closeDialog()">
	Cancelar
</button>
