<div
	class="login-wrapper"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign="center center"
	fxLayoutGap="5em">
	<div class="class-wrapper">
		<mat-card class="box-content">
			<mat-card-header class="about-patern"></mat-card-header>
			<br />
			<mat-card-content>
				<div class="about-patern">
					<div class="logo">
						<img src="./assets/img/ALUX ISOTIPO.png" class="avatar-table circleImg" />
					</div>
					<div class="title-app">
						<p class="text">DiscoverIT.</p>
					</div>
				</div>
				<br />
				<mat-divider inset></mat-divider>
				<br />
				<div class="about-patern-check">
					<div class="logo">
						<i class="fa fa-check-circle"></i>
					</div>
					<div class="title-app">
						<p class="text-check">DiscoverIT esta actualizado</p>
						<p class="text-check">Versión 1.0.0 (Build Oficial)</p>
					</div>
				</div>
				<br />
				<mat-divider inset></mat-divider>
				<br />
				<div class="about-patern-check">
					<div>
						<a
							href="http://discoverit.virwo.com/dash/helpCenter/faqs"
							target="_blank"
							class="link">
							Obtener ayuda con DiscoverIT
						</a>
					</div>
				</div>
				<br />
				<mat-divider inset></mat-divider>
				<br />
				<div class="about-patern-go">
					<div class="title-about">
						<p class="text-option">Informar un problema</p>
					</div>
					<div class="icon-go">
						<i
							class="inform fa fa-external-link"
							aria-hidden="true"
							(click)="reportProblem()"></i>
					</div>
				</div>
				<br />
			</mat-card-content>
		</mat-card>
	</div>
</div>

<div
	class="login-wrapper"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign="center center"
	fxLayoutGap="5em">
	<div class="class-wrapper">
		<mat-card class="box-content">
			<mat-card-header class="about-patern"></mat-card-header>
			<mat-card-content>
				<br />
				<div class="about-patern-check">
					<div>
						<p class="text-option">
							DiscoverIT
							<br />
							Copyrigth 2022 VIRWO S.A de C.V. Todos los derechos reservados
						</p>
						<a class="link terms" (click)="termsConditions()">Condiciones de servicio</a>
					</div>
				</div>
				<br />
			</mat-card-content>
		</mat-card>
	</div>
</div>
